#anchorPane{
	-fx-background-color: "#DAECF9";
}
#exitPopup{
	-fx-background-color: transparent;
	-fx-border-color: "#DC2C2C";
	-fx-border-radius: 25px;
	-fx-background-radius: 25px;
	-fx-text-fill: "#DC2C2C";	
}
#exitPopup:hover{
	-fx-background-color: transparent;
	-fx-border-color: "#b51e1e";
	-fx-border-radius: 25px;
	-fx-background-radius: 25px;
	-fx-text-fill: "#b51e1e";	
}
#saveData{
	-fx-background-color: transparent;
	-fx-border-color: "#4AAB5A";
	-fx-border-radius: 25px;
	-fx-background-radius: 25px;
	-fx-text-fill: "#4AAB5A";	
}
#saveData:hover{
	-fx-background-color: transparent;
	-fx-border-color: "#3b8948";
	-fx-border-radius: 25px;
	-fx-background-radius: 25px;
	-fx-text-fill: "#3b8948";	
}

#numberTextField,#euidTextField,#emailTextField,#countyTextField,#countryTextField,#businessNameTextField,#cityTextField,#CUITextField,#tradeRegisterTextField,#streetTextField,#zipCodeTextField,#phoneNumberTextField,#bankTextField, #beneficiaryTextField,#IBANTextField,#swiftTextField,#referenceTextField,#exchangeTextField,#currencyTextField{
	-fx-background-color: "#CBDAFF";
	-fx-background-radius: 5 5 0 0;
}

#currencyComboBox{
	-fx-background-color: "#CBDAFF";
}
