.chart{
	-fx-background-color: transparent;
}

.chart-plot-background{
	-fx-background-color: transparent;
}


.chart-legend{
	-fx-background-color: transparent;
	-fx-stroke: "#daa520";
}

.axis{
	-fx-tick-label-fill: "#000000";
	-fx-tick-length: 20;
	-fx-minor-tick-length: 10;
}

.axis-label{
	-fx-text-fill: "#000000";
}

.axis-tick-mark {
    -fx-stroke: #637040;
    -fx-stroke-width: 1; 
}

.axis-minor-tick-mark {
    -fx-stroke: #859656;
}

.default-color0.chart-pie{
	-fx-pie-color: "#343CBC";
}

.default-color1.chart-pie{
	-fx-pie-color: "#6E44CC";
}

.default-color2.chart-pie{
	-fx-pie-color: "#2867B7";
}

.default-color3.chart-pie{
	-fx-pie-color: "#483FC4";
}

.data0.chart-bar{
	-fx-background-color: "#343CBC";
}
.data1.chart-bar{
	-fx-background-color: "#483FC4";
}
.data2.chart-bar{
	-fx-background-color: "#6E44CC";
}
.data3.chart-bar{
	-fx-background-color: "#3843C4";
}
.data4.chart-bar{
	-fx-background-color: "#5C43C7";
}
.data5.chart-bar{
	-fx-background-color: "#2867B7";
}