#anchorPane{
	-fx-background-color: "#DAECF9";
}
#serviceNameField,#serviceAmountField,#serviceDescriptionField,#serviceCurrencyField,#servicePriceField,#serviceNumberField{
	-fx-background-color: "#CBDAFF";
}
#removeForm{
	-fx-background-color: transparent;
}
#removeFormIcon{
	-fx-fill: "#942c5c";
}
#removeFormIcon:hover{
	-fx-fill: "#b51e1e";
}
#serviceNameButton,#addAmountButton,#removeAmountButton,#serviceDescriptionButton,#servicePriceButton,#serviceNumberButton{
	-fx-background-color: transparent;
}
#servicePriceIcon:hover,#serviceNameIcon:hover,#serviceDescriptionIcon:hover,#serviceNumberIcon:hover,#removeAmountIcon:hover,#addAmountIcon:hover{
	-fx-fill: "#2E4EB8";
}
#serviceCurrencyField .list-view{
	-fx-background-color: "#CBDAFF";
	-fx-background-radius: 5px;
	-fx-border-radius: 5 5 5 5;
	-fx-border-color: "#2e4eb8";
}
#serviceCurrencyField .text-field ,#serviceCurrencyField > .arrow-button{
	-fx-background-color: transparent;
}
#serviceCurrencyField .list-cell{
	-fx-background-color: transparent;
	-fx-font-family: "Roboto";
}
#serviceCurrencyField .list-cell:hover{
	-fx-text-fill: "#538EEA";
}
#serviceCurrencyField .list-cell:selected{
	-fx-text-fill: "#000000";
}